<div class="container title-margin title-color-size">
      carteira
    </div>
      
    <% for(var i=0; i < stock.length ; i++) { %>
          
      <div class="container asset-box" data-toggle="collapse" href="#details<%= i %>">
        <div class="col-xs-4">
          <h1 class="asset__sticker"><%= stock[i].ticker %></h1>
        </div>
        <div class="col-xs-4">
          <h1 class="asset__sticker investment-price">R$<%= stock[i].price %></h1>
        </div>
        <div class="col-xs-4">
          <h1 class="asset__sticker investment-return"><%= stock[i].ROI %>%</h1>
        </div>
      </div>

      <div id="details<%= i %>" class="container collapse details-box" style="background-color: #000">
        <div class="container details-head">
          <div class="col-xs-3">
            <h2 class="asset__sticker">Data da compra</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker investment-price">Qtd.</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker">Preço de compra (R$)</h1>
          </div>
          <div class="col-xs-3">
            <h2 class="asset__sticker">Taxas (R$)</h1>
          </div>
        </div>
        <% for(var j in detailsOf) { %>
          <% if(detailsOf[j][0] == stock[i].ticker) {%>
            <div class="container details-content">
              <div class="col-xs-3">
                <h2 class="asset__sticker"><%= detailsOf[j][3] %></h1>
              </div>
              <div class="col-xs-3">
                <h2 class="asset__sticker"><%= detailsOf[j][1] %></h1>
              </div>
              <div class="col-xs-3">
                <h2 class="asset__sticker"><%= detailsOf[j][2] %></h1>
              </div>
              <div class="col-xs-3">
                <h2 class="asset__sticker">2</h1>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>

    <% } %>